@model IEnumerable<Cumulative_N01652955.Models.Teacher>

@{
    ViewBag.Title = "List";

    //Receieve the List<Teacher> from the controller
    //Render the Teachers information as HTML 
}

<h2>List of Teachers</h2>

<p>
    Received @Model.Count() teachers count.
</p>