

@{
    ViewBag.Title = "Teachers List";

    //Receieve the List<Teacher> from the controller
    //Render the Teachers information as HTML 
}

<h2>List of Teachers</h2>

<p>
    Received teachers count (Updated: @DateTime.Now.ToString("MMMM") @DateTime.Now.ToString("yyyy"))
</p>