
@{
    ViewBag.Title = "Show";
}

<h2>Individual teacher data</h2>

<form>
    <fieldset style="display: block;
           text-align:center;
           font-size: 25px;">
        <legend style="font-size: 15px;">Teacher</legend>
        Teacher name: ______
        Employee number: ______
        Hire Date: ______
        Salary: ______
    </fieldset>
</form>