<main>
    <section class="row" aria-labelledby="aspnetTitle" style="padding-top: 25px;">
        <h1 id="aspnetTitle">School Database</h1>
    </section>
    <div class="row" style="padding-top: 25px;">
        <section class="col-md-5" aria-labelledby="gettingStartedTitle">
            <h3 id="gettingStartedTitle">Teachers list</h3>
            <p>Click here to see the list of teachers in the database.</p>
            <p><a class="btn btn-outline-dark" href="/Teacher/List">Teachers List &raquo;</a></p>
        </section>
        <section class="col-md-5" aria-labelledby="librariesTitle">
            <h3 id="librariesTitle">Students List</h3>
            <p>Click here to see the list of students in the database.</p>
            <p><a class="btn btn-outline-dark" href="#">Students List &raquo;</a></p>
        </section>
    </div>
</main>